<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รู้ลิมิต | คำนวณ</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/30c46c336b.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- navbar -->

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href=/" class="navbar-item has-text-weight-bold">
                    ตำนวณ
                </a>

                <a href="data.html" class="navbar-item has-text-weight-bold">
                    ข้อมูล
                </a>
                <a href="about_us.html" class="navbar-item has-text-weight-bold">
                    เกี่ยวกับเรา
                </a>
            </div>
            <div class="navbar-end">
                <a href="/">
                    <!-- <img id="logo_icon" src="./image/logo.png" alt="logo" class="logo is-pulled-right" id="logo" /> -->
                    <img id="logo_icon" src="{{ url_for('static', filename='logo.png') }}" alt="logo"
                        class="logo is-pulled-right" id="logo" />
                </a>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container" id="content">
        <div class="columns">
            <div class="column">
                <div class="sex" id="sex">
                    <label class="label is-size-4">เพศ</label>
                    <label class="radio is-size-4">
                        <input type="radio" name="sex" id="male">
                        ชาย
                    </label>
                    <label class="radio is-size-4">
                        <input type="radio" name="sex" id="female">
                        หญิง
                    </label>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">
                <div class="weight">
                    <label class="label is-size-4">น้ำหนัก</label>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input id="weight" class="input" type="tel" placeholder="น้ำหนักของคุณ">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-weight-scale"></i>
                            </span>
                            <span class="icon is-small is-right">
                                กก.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <div class="columns content_from">
                    <div class="column is-2 pt-6 image">
                        <!-- <img src="./image/alcohol.png"> -->
                        <img src="{{ url_for('static', filename='alcohol.png') }}">
                    </div>
                    <div class="column is-5 ml-6 mt-5" id="content_liquor">
                        <label class="label">สุรา</label>
                        <div class="size mt-5 ">
                            จำนวน
                            <input id="quantity_liquor" class="ml-2 mr-2 has-text-centered" size="1" type="text"
                                value="0">
                            <select id="type_liquor" class=" is-dark">
                                <option>Flat</option>
                                <option>Round</option>
                            </select>
                        </div>
                        <div class="Amount_of_alcohol mt-4">
                            ปริมาณแอลกอฮอล์
                            <input id="percent_liquor" class="ml-2 mr-2 has-text-centered" type="text" value="35"
                                size="1">
                            %
                        </div>
                    </div>
                    <div class="column is-5 has-text-centered mt-6">
                        <div class="is-size-4">ผลลัพธ์</div>
                        <p id="result_liquor" class="is-size-4">0</p>
                        <div class="is-size-4">กรัม</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns content_from">
                    <div class="column is-2 image">
                        <!-- <img id="beer" src="./image/beer.png"> -->
                        <img id="beer" src="{{ url_for('static', filename='beer.png') }}">
                    </div>
                    <div class="column is-5 ml-6 mt-5" id="content_beer">
                        <label class="label">เบียร์</label>
                        <div class="size mt-5 ">
                            จำนวน
                            <input id="quantity_beer" class="ml-2 mr-2 has-text-centered" type="text" value="0"
                                size="1">
                            <select id="type_beer" class=" is-dark" id="">
                                <option>Can</option>
                                <option>Bottle</option>
                            </select>
                        </div>
                        <div class="Amount_of_alcohol mt-4">
                            ปริมาณแอลกอฮอล์
                            <input id="percent_beer" class="ml-2 mr-2 has-text-centered" type="text" value="5" size="1">
                            %
                        </div>
                    </div>
                    <div class="column is-5 has-text-centered mt-6">
                        <div class="is-size-4">ผลลัพธ์</div>
                        <p id="result_beer" class="is-size-4">0</p>
                        <div class="is-size-4">กรัม</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns content_from">
                    <div class="column is-2 image">
                        <!-- <img src="./image/wine.png"> -->
                        <img src="{{ url_for('static', filename='wine.png') }}">
                    </div>
                    <div class="column is-5 ml-6 mt-5" id="content_wine">
                        <label class="label">ไวน์</label>
                        <div class="size mt-5 ">
                            จำนวน
                            <input id="quantity_wine" class="ml-2 mr-2 has-text-centered" type="text" value="0"
                                size="1">
                            <select id="type_wine" class=" is-dark" id="">
                                <option>Demi</option>
                                <option>Standard</option>
                                <option>Magnum</option>
                            </select>
                        </div>
                        <div class="Amount_of_alcohol mt-4">
                            ปริมาณแอลกอฮอล์
                            <input id="percent_wine" class="ml-2 mr-2 has-text-centered" type="text" value="10"
                                size="1">
                            %
                        </div>
                    </div>
                    <div class="column is-5 has-text-centered mt-6">
                        <div class="is-size-4">ผลลัพธ์</div>
                        <p id="result_wine" class="is-size-4">0</p>
                        <div class="is-size-4">กรัม</div>
                    </div>
                </div>
            </div>

            <button class="button is-danger is-rounded mr-3" onclick="reset_default()">คืนค่าเริ่มต้น</button>

            <a href="#content_result"><button class="button is-primary is-rounded" onclick="cal()">คำนวณ</button></a>
        </div>
        <div id="content_result" class="box mt-6 has-text-centered has-text-white">
            <img src="{{ url_for('static', filename='icon.png') }}" />
            <div class="is-size-3">
                <p id="ans">0 กรัม</p>
            </div>
            <div id="description_result" class="is-size-5">ไม่มีแอลกอฮอล์ในเลือด</div>
            <div id="behavior_result" class="is-size-6 mt-2">รู้สึกปกติ ไม่มีอาการเมา </div>
            <div class="mt-5">
                <a href="data.html">
                    <button class="button mt-3 is-rounded">ดูรายละเอียดเพิ่มเติม</button>
                </a>
            </div>
        </div>
        <br>
    </div>

    <script>



        function cal() {
            var alcohol = 0;
            var weight = document.getElementById('weight').value
            var sum_alcohol = 0;
            var alcohol_liquor = 0;
            var alcohol_beer = 0;
            var alcohol_wine = 0;

            // cal_liquor
            var quantity_liquor = document.getElementById('quantity_liquor').value
            var type_liquor = document.getElementById('type_liquor').value
            var percent_liquor = document.getElementById('percent_liquor').value

            if (type_liquor == "Flat") {
                var result = parseInt(percent_liquor) * 350 / 100
                // document.getElementById('result_liquor').value = result
                sum_alcohol += result * quantity_liquor
                alcohol_liquor = result * quantity_liquor
            }
            if (type_liquor == "Round") {
                var result = parseInt(percent_liquor) * 700 / 100
                // document.getElementById('result_liquor').value = result
                sum_alcohol += result * quantity_liquor
                alcohol_liquor = result * quantity_liquor
            }


            // cal_beer

            var quantity_beer = document.getElementById('quantity_beer').value
            var type_beer = document.getElementById('type_beer').value
            var percent_beer = document.getElementById('percent_beer').value


            if (type_beer == "Can") {
                var result = parseInt(percent_beer) * 320 / 100
                // document.getElementById('result_beer').value = result
                sum_alcohol += result * quantity_beer
                alcohol_beer = result * quantity_beer
            }
            if (type_beer == "Bottle") {
                var result = parseInt(percent_beer) * 620 / 100
                // document.getElementById('result_beer').value = result
                sum_alcohol += result * quantity_beer
                alcohol_beer = result * quantity_beer
            }

            // cal_wine

            var quantity_wine = document.getElementById('quantity_wine').value
            var type_wine = document.getElementById('type_wine').value
            var percent_wine = document.getElementById('percent_wine').value


            if (type_wine == "Demi") {
                var result = parseInt(percent_wine) * 375 / 100
                // document.getElementById('result_wine').value = result
                sum_alcohol += result * quantity_wine
                alcohol_wine = result * quantity_wine
            }
            if (type_wine == "Standard") {
                var result = parseInt(percent_wine) * 750 / 100
                // document.getElementById('result_wine').value = result
                sum_alcohol += result * quantity_wine
                alcohol_wine = result * quantity_wine
            }
            if (type_wine == "Magnum") {
                var result = parseInt(percent_wine) * 1500 / 100
                // document.getElementById('result_wine').value = result
                sum_alcohol += result * quantity_wine
                alcohol_wine = result * quantity_wine
            }



            if (document.getElementById('male').checked && parseInt(weight) > 0) {
                document.getElementById('result_liquor').innerHTML = String(alcohol_liquor / (weight * 0.68 * 10)).slice(0, 6)
                document.getElementById('result_beer').innerHTML = String(alcohol_beer / (weight * 0.68 * 10)).slice(0, 6)
                document.getElementById('result_wine').innerHTML = String(alcohol_wine / (weight * 0.68 * 10)).slice(0, 6)

                // cal_all
                alcohol = sum_alcohol / (weight * 0.68 * 10)
                let text_slice = String(alcohol).slice(0, 6)
                document.getElementById('ans').innerHTML = text_slice + " กรัม"

                if (alcohol == 0) {
                    document.getElementById('content_result').style.backgroundColor = 'grey'
                    document.getElementById('description_result').innerHTML = 'ไม่มีแอลกอฮอล์ในเลือด'
                    document.getElementById('behavior_result').innerHTML = 'รู้สึกปกติ ไม่มีอาการเมา'
                }
                else if (alcohol > 0 && alcohol <= 0.3) {
                    document.getElementById('content_result').style.backgroundColor = 'green'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับน้อย'
                    document.getElementById('behavior_result').innerHTML = 'มีอาการสนุกสนาน ร่าเริงกว่าปกติ การยับยั้งชั่งใจลดลง'
                }
                else if (alcohol > 0.3 && alcohol <= 0.5) {
                    document.getElementById('content_result').style.backgroundColor = 'GOLD'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับปานกลาง'
                    document.getElementById('behavior_result').innerHTML = 'การมองเห็นลดลง ความสามารถในการควบคุมร่างกายช้าลง'
                }
                else if (alcohol > 0.5 && alcohol <= 1) {
                    document.getElementById('content_result').style.backgroundColor = 'orange'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับสูง'
                    document.getElementById('behavior_result').innerHTML = 'คลื่นไส้ อาเจียน เดินเซ พูดไม่รู้เรื่อง การตอบสนองและตัดสินใจช้าลง'
                }
                else if (alcohol > 1 && alcohol <= 2) {
                    document.getElementById('content_result').style.backgroundColor = 'DarkOrange'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับสูงมาก'
                    document.getElementById('behavior_result').innerHTML = 'สูญเสียความจำบางส่วน เศร้า อารมณ์ฉุนเฉียวง่าย'
                }
                else if (alcohol > 2 && alcohol <= 3) {
                    document.getElementById('content_result').style.backgroundColor = 'maroon'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับอันตราย'
                    document.getElementById('behavior_result').innerHTML = 'มองไม่ชัด มึนงง ควบคุมสติไม่ได้ หายใจลำบาก หัวใจเต้นผิดปกติ'
                }
                else if (alcohol > 3) {
                    document.getElementById('content_result').style.backgroundColor = 'red'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับอันตรายมาก'
                    document.getElementById('behavior_result').innerHTML = 'ตาพร่ามัว ขาดสติโดยสมบูรณ์ หมดสติ อาจถึงขั้นเสียชีวิต'
                }


            }
            else if (document.getElementById('female').checked && parseInt(weight) > 0) {
                document.getElementById('result_liquor').innerHTML = alcohol_liquor
                document.getElementById('result_beer').innerHTML = alcohol_beer
                document.getElementById('result_wine').innerHTML = alcohol_wine

                // cal_all
                alcohol = sum_alcohol / (weight * 0.55 * 10)
                let text_slice = String(alcohol).slice(0, 6)
                document.getElementById('ans').innerHTML = text_slice + " กรัม"

                if (alcohol == 0) {
                    document.getElementById('content_result').style.backgroundColor = 'grey'
                    document.getElementById('description_result').innerHTML = 'ไม่มีแอลกอฮอล์ในเลือด'
                    document.getElementById('behavior_result').innerHTML = 'รู้สึกปกติ ไม่มีอาการเมา'
                }
                else if (alcohol > 0 && alcohol <= 0.3) {
                    document.getElementById('content_result').style.backgroundColor = 'green'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับน้อย'
                    document.getElementById('behavior_result').innerHTML = 'มีอาการสนุกสนาน ร่าเริงกว่าปกติ การยับยั้งชั่งใจลดลง'
                }
                else if (alcohol > 0.3 && alcohol <= 0.5) {
                    document.getElementById('content_result').style.backgroundColor = 'GOLD'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับปานกลาง'
                    document.getElementById('behavior_result').innerHTML = 'การมองเห็นลดลง ความสามารถในการควบคุมร่างกายช้าลง'
                }
                else if (alcohol > 0.5 && alcohol <= 1) {
                    document.getElementById('content_result').style.backgroundColor = 'orange'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับสูง'
                    document.getElementById('behavior_result').innerHTML = 'คลื่นไส้ อาเจียน เดินเซ พูดไม่รู้เรื่อง การตอบสนองและตัดสินใจช้าลง'
                }
                else if (alcohol > 1 && alcohol <= 2) {
                    document.getElementById('content_result').style.backgroundColor = 'DarkOrange'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับสูงมาก'
                    document.getElementById('behavior_result').innerHTML = 'สูญเสียความจำบางส่วน เศร้า อารมณ์ฉุนเฉียวง่าย'
                }
                else if (alcohol > 2 && alcohol <= 3) {
                    document.getElementById('content_result').style.backgroundColor = 'maroon'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับอันตราย'
                    document.getElementById('behavior_result').innerHTML = 'มองไม่ชัด มึนงง ควบคุมสติไม่ได้ หายใจลำบาก หัวใจเต้นผิดปกติ'
                }
                else if (alcohol > 3) {
                    document.getElementById('content_result').style.backgroundColor = 'red'
                    document.getElementById('description_result').innerHTML = 'ปริมาณแอลกอฮอล์อยู่ในระดับอันตรายมาก'
                    document.getElementById('behavior_result').innerHTML = 'ตาพร่ามัว ขาดสติโดยสมบูรณ์ หมดสติ อาจถึงขั้นเสียชีวิต'
                }
            }
            else {
                alert('please select your sex or fill in your weight')
            }
        }
        function reset_default() {
            // sex
            var sex = document.getElementsByName("sex");
            for (var i = 0; i < sex.length; i++)
                sex[i].checked = false;

            // weight
            document.getElementById('weight').value = ''

            // liquor
            document.getElementById('quantity_liquor').value = '0'
            document.getElementById('type_liquor').value = 'Flat'
            document.getElementById('percent_liquor').value = '35'

            // beer
            document.getElementById('quantity_beer').value = '0'
            document.getElementById('type_beer').value = 'Can'
            document.getElementById('percent_beer').value = '5'

            // wine
            document.getElementById('quantity_wine').value = '0'
            document.getElementById('type_wine').value = 'Demi'
            document.getElementById('percent_wine').value = '10'

        }
    </script>
    <style>
        /* font */
        @import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif&family=Rubik&display=swap');

        body {
            font-family: 'Oswald', sans-serif;
            font-family: 'PT Serif', serif;
            font-family: 'Rubik', sans-serif;
        }

        /* backgrond */
        body {
            background-color: #EEE5D2;
            background-image: url("https://studyfinds.org/wp-content/uploads/2022/03/paolo-bendandi-2kLHSCnMQZ8-unsplash-scaled.jpg");
            background-color: rgba(238, 229, 210, 0.90);
            background-blend-mode: lighten;
        }

        .navbar {
            position: fixed;
            width: 100%
        }

        #content {
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 2%;
        }

        #beer {
            padding-top: 20%;
        }

        #content_liquor {
            padding-left: 8%;
        }

        #content_beer {
            padding-left: 8%;
        }

        #content_wine {
            padding-left: 8%;
        }

        #content_result {
            background-color: grey;
        }

        /* .image{
  
} */
        #logo_icon {
            width: 30%;

        }
    </style>
</body>

</html>